.info-container{
    display: none;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    width: 60%;
    height: 90vh;
    justify-content: center;
    padding: 5%;
    order: 2;
    text-align: left;
   
}

.game-info-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 4%;
    border-radius: 5px;
    background-color: #fff;
    width: 90%;
    order: 2;
    text-align: left;
}
#game-difficulty-tag{display:none}
#game-timer-tag{display:none}
#game-stopwatch-tag{display:none}

.player-info-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 4%;
    border-radius: 5px;
    background-color: #fff;
    width: 90%;
    order: 2;
    text-align: left;

}

#player-name-tag{display:none}
#player-score-tag{display:none}
#player-level-tag{display:none}
#player-experience-tag{display:none}
#player-lives-tag{display:none}

@media screen and (max-width: 992px) {

    .info-container{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: #fff;
        /*rewrite all the above TO 0*/
        order: 1;
        margin: 0;
        padding: 0;
        box-shadow: none;
        border-radius: 0;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
        height: 100px;

        

    }
    .game-info-container{
        /*rewrite all the above TO 0*/

        order: 1;
        margin: 0;
        padding: 0;
        box-shadow: none;
        border-radius: 0;
        text-align: center;



    }
    .player-info-container{
        /*rewrite all the above TO 0*/
        order: 1;
        margin: 0;
        padding: 0;
        box-shadow: none;
        border-radius: 0;
        text-align: center;

    }
}