.player-info-container{
    display: none;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    margin: 50px auto;
    width: 400px;

    
}
.player-info-container p{
    text-align: left;
}

#reset-button{
    pointer-events: auto;
    display: none;
}