.select-difficulty-container {
  display: none;
  flex-direction: column;
  align-items: center;
  /* Add this line */
  font-family: 'Roboto', sans-serif;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-color);


  padding: 20px;
  border-radius: 5px;
  

  margin: 50px auto;


  text-transform: uppercase;
  font-family: 'Baloo', cursive;
  font-weight: 900;
  color: #fff;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.75)

}

.select-difficulty-container :first-child {
  font-size: 2rem;
  text-align: center;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.75)

}

.difficulty-buttons {
  display: flex;
  justify-content: center;
  /* Add this line */
  align-items: center;
  /* Add this line */
  gap: 10px;
  margin: 10px 0;


}

.difficulty-buttons input[type="radio"] {
  display: none;
}


.difficulty-buttons label {
  /* Modify the padding */
  padding: 10px 20px;
  /* Add the following properties */
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;

}

.difficulty-buttons label:hover {
  background-color: var(--tertiary-color)
}

.difficulty-buttons input[type="radio"]:checked+label {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  background-color: var(--secondary-color);
}





/* Add media queries to adjust the width of the container on smaller screens */
@media (max-width: 600px) {
  .difficulty-container {
    width: 100%;
  }
}