.start-game-container {
  display: block;
  flex-direction: column;
  align-items: center;
}
.start-game-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.start-game-container label {
  font-size: 20px;
  font-weight: bold;
  color: #FF1493;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75)

}

.start-game-container input[type="text"] {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}
.start-game-container input[type="text"]:focus {
  outline: none;
  border-color: #ff5a5f;
}
.start-game-container input[type="text"]:focus + .error-message {
  display: none;
}
.start-game-container button {
  background-color: #ff5a5f;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.start-game-container button:hover {
  background-color: #ff4146;
  transform:  scale(1.1);
}

.start-game-container button:disabled:hover {
  background-color: #ccc;
}
.start-game-container .error-message {
  color: #f44336;
  margin-top: 10px;
}
.start-game-container .error-message:empty {
  display: none;
}
.start-game-container .error-message:empty + button {
  margin-top: 0;
}

