@import url('https://fonts.cdnfonts.com/css/baloo');
:root {
    --primary-color: #ffc802;
    --secondary-color: #008fff;
    --tertiary-color: #ff1493;
    --disabled-color: #ccc;


    /* #F0F4C3: A light green that represents freshness, growth and harmony.

#FFAB91: A coral pink that represents warmth, comfort and positivity.

#B2EBF2: A light blue that represents calmness, trust and reliability.

#FFF9C4: A light yellow that represents happiness, energy and optimism.

#FF8A65: A bright orange that represents enthusiasm, creativity and fun.

#80DEEA: A turquoise blue that represents clarity, balance and tranquility.

#E1BEE7: A light purple that represents imagination, inspiration and spirituality.

#FFCDD2: A soft red that represents passion, excitement and love.

#81D4FA: A sky blue that represents freedom, intelligence and creativity. */
    --question-color: #F0F4C3;
    --answer-color: #FFAB91;
    --correct-color: #B2EBF2;
    --incorrect-color: #FFF9C4;
    


    --font-body: -apple-system, "Segoe UI", Helvetica Neue, Helvetica, Roboto,
        Arial, sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--primary-color);
    text-align: center;
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    min-height: 100vh;
}

body::after {
    content: '';
    background-image: radial-gradient(circle, #e8d907 5%, #ffc802, #f5a208fd);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;

}




h1 {
    font-family: 'Baloo', cursive;
    
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.75)
}
h1 span {
    text-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.5), 0 5px 0 rgba(0, 0, 0, 0.75);
}



p {
    font-size: 20px;
    margin: 10px 0;
}

button {
    background-color: var(--tertiary-color);
    color: #fff;
    font-size: 3rem;
    font-weight: 900;

    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    font-family: 'Baloo', cursive;
    font-weight: 900;
    color: #fff;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.75)

}

button:hover {
    background-color: #ff4146;
    transform: scale(1.1);
}
button:disabled {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
    transform : scale(1);
}
button:active {
    background-color: #ff4146;
    transform: scale(0.9);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    
    color: #fff;
    text-shadow: 0 3px 0px rgba(0, 0, 0, 1)

}
footer a {
    color: #fff;
    text-decoration: none;
    font-family: 'Baloo', cursive;
    font-size: 1.2rem;
    text-decoration: underline;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 1)
}
footer p{
    font-family: 'Baloo', cursive;
    font-size: 1.2rem;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75)
}
footer a:hover {
    text-decoration: underline;
    animation: pulse 0.5s infinite alternate;
    color : #ff4146;
}
@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.other-contatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    min-width: 33%;
    
}



@media screen and (max-width: 992px) {
    body {
        font-size: 4rem;
    }
    h1 {
        font-size: 7rem;
    }
    h1 span {
        font-size: 6rem;
    }
    button {
        font-size: 2rem;
    }
    footer {
        font-size: 2rem;
        padding: 0;
    }
}
